<div align="center">
	<img src="/assets/banner.png" class="banner">
</div>
<div class="container" align="center">
	<div class="first-heading">
		Looking For The Best Reverse Mortgage?
	</div>
	<div class="number">
		Call Toll-Free: (888) 690-3316
	</div>
	<div class="second-heading">
		Compare Rates Now & Get a <span class="guide-text">FREE Reverse Mortgage Guide!</span>
	</div>
	<div class="row">
		<div class="span4 features-section">
			<div class="features-title">
				Reverse Mortgage Features
			</div>
			<div class="features-list">
				<span class="bullet">.</span> Get Tax-Free Cash
				<br>
				<span class="bullet">.</span> Stay in Your Home
				<br>
				<span class="bullet">.</span> No Income or Credit Score Requirements
				<br>
				<span class="bullet">.</span> Pay off Mortgage and Debt
			</div>
			<div class="features-final">
				Talk to a local independent advisor and explore the best options for you and your family.
			</div>
		</div>
		<div class="span4 book">
		</div>
		<div class="extra-book">
			<img src="/assets/black_ribbon.png">
			<div class="ribbon-content">
				Order Your FREE eBook or call (888) 690-3316
			</div>
			<div class="extra-content">
				How Much Do You Qualify For?
				<div class="extra-subcontent">
					Complete the form below to receive your info now.
				</div>
				<div class="form">
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), remote: true) do |f| %>
						<div class="row">
							<div class="span2">
								<%= f.label :name %>
								<%= f.text_field :name, placeholder: "Name", :style => "width:120px;" %>
							</div>
							<div class="span2">
								<%= f.label :phone %>
								<%= f.text_field :phone, placeholder: "Phone", :style => "width:120px;" %>
							</div>
						</div>
						<div class="row">
							<div class="span2">
								<div class="message" id="name_error"></div>
							</div>
							<div class="span2">
								<div class="message" id="phone_error"></div>
							</div>
						</div>
						<%= f.submit 'Next', :class => "submit", :id => "submit-part-1", :style => "margin-left: 180px;margin-top: 0px;margin-bottom: -30px;" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="more-info">
		<div class="row">
			<div class="span3">
				<div class="more-info-title">
					All Credit Types
				</div>
				With a reverse mortgage, you can qualify regardless of your credit! Get the <span class="emp-text">free guide</span> to learn more today and schedule a <span class="emp-text">free consultation</span> with a financial advisor.
			</div>
			<div class="span3">
				<div class="more-info-title">
					No Income Required
				</div>
				With federally-insured reverse mortgages, there are <span class="emp-text">NO income or medical requirements</span>. So regardless of your current situation, you can qualify.
			</div>
			<div class="span3">
				<div class="more-info-title">
					Disbursement Options
				</div>
				A reverse mortgage can provide <span class="emp-text">flexible monthly income</span> to the borrower for as long as they occupy the home. Learn about the six different ways you can receive income.
			</div>
			<div class="span3">
				<div class="more-info-title">
					Age Eligibility
				</div>
				Reverse mortgages are designed for homeowners at least 62 years of age with moderate to significant equity in their homes. Learn more with your <span class="emp-text">free guide</span>.
			</div>
		</div>
	</div>
</div>
<%= render 'users/form2' %>
<%= render 'users/form3' %>
<%= render 'users/form4' %>

<script type="text/javascript">
				$('input#user_name').blur(function(event){
					if ($('input#user_name').val().length < 1) {
						event.preventDefault();
						$('#name_error').empty().append("Please enter your name");
					}
					if ($('input#user_name').val().length > 0) {
						$('#name_error').empty();
					}
				});
				$('input#user_phone').blur(function(event){
					if ($('input#user_phone').val().replace(/\D+/g,'').length != 10) {
						event.preventDefault();
						$('#phone_error').empty().append("Enter your phone number");
					}
					if ($('input#user_phone').val().replace(/\D+/g,'').length == 10) {
						$('#phone_error').empty();
					}
				});
				$('#submit-part-1').click(function(event){
					if ($('input#user_name').val().length < 1) {
						event.preventDefault();
						$('#name_error').empty().append("Please enter your name");
					}
					if ($('input#user_phone').val().replace(/\D+/g,'').length != 10) {
						event.preventDefault();
						$('#phone_error').empty().append("Please enter your phone number");
					}
				});
			</script>