<div align="center">
	<img src="/assets/banner.png" class="banner">
</div>
<div class="container" align="center">
	<div class="first-heading">
		Looking For The Best Reverse Mortgage?
	</div>
	<div class="second-heading">
		Compare Rates Now & Get a <span class="guide-text">FREE Reverse Mortgage Guide!</span>
	</div>
	<div class="row">
		<div class="span4 features-section">
			<div class="features-title">
				Reverse Mortgage Features
			</div>
			<div class="features-list">
				<span class="bullet">.</span> Flexible monthly income
				<br>
				<span class="bullet">.</span> Eliminate your mortgage payments
				<br>
				<span class="bullet">.</span> Consolidate your bills
			</div>
			<div class="features-final">
				Talk to a local independent advisor and explore the best options for you and your family.
			</div>
		</div>
		<div class="span4 book">
		</div>
		<div class="extra-book">
			<img src="/assets/black_ribbon.png">
			<div class="ribbon-content">
				FREE PRODUCT AND RATE COMPARISON
			</div>
			<div class="extra-content">
				Get Your Free Guide Now
				<div class="extra-subcontent">
					Complete the form below to receive your info now.
				</div>
				<div class="form">
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), remote: true) do |f| %>
						<%= f.label :zipcode %>
						<%= f.text_field :zipcode, placeholder: "Zipcode" %>
				 		<%= f.submit 'Next', :class => "submit", :id => "submit-part-1" %>
				 		<div class="message" id="zip_error"></div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="more-info">
		<div class="row">
			<div class="span3">
				<div class="more-info-title">
					All Credit Types
				</div>
				With a reverse mortgage, you can qualify regardless of your credit! Get the <span class="emp-text">free guide</span> to learn more today and schedule a <span class="emp-text">free consultation</span> with a financial advisor.
			</div>
			<div class="span3">
				<div class="more-info-title">
					No Income Required
				</div>
				With federally-insured reverse mortgages, there are <span class="emp-text">NO income or medical requirements</span>. So regardless of your current situation, you can qualify.
			</div>
			<div class="span3">
				<div class="more-info-title">
					Disbursement Options
				</div>
				A reverse mortgage can provide <span class="emp-text">flexible monthly income</span> to the borrower for as long as they occupy the home. Learn about the six different ways you can receive income.
			</div>
			<div class="span3">
				<div class="more-info-title">
					Age Eligibility
				</div>
				Reverse mortgages are designed for homeowners at least 62 years of age with moderate to significant equity in their homes. Learn more with your <span class="emp-text">free guide</span>.
			</div>
		</div>
	</div>
</div>
<%= render 'users/form2' %>
<%= render 'users/form3' %>
<script type="text/javascript">
	$('input#user_zipcode').blur(function(event){
		var zipRegex = /^\d{5}$/;
		if (!zipRegex.test($('input#user_zipcode').val())) {
			event.preventDefault();
			$('#zip_error').empty().append("Please enter a valid zipcode");
		}
		if (zipRegex.test($('input#user_zipcode').val())) {
			$('#zip_error').empty();
		}
	});
	$('#submit-part-1').click(function(event){
		var zipRegex = /^\d{5}$/;
		if (!zipRegex.test($('input#user_zipcode').val())) {
			event.preventDefault();
			$('#zip_error').empty().append("Please enter a valid zipcode");
		}
	});
</script>